<div class="user-side-bar">

  @if (currentUser()) {
    <div class="user-profile-header" #profileSection>
      <div class="profile-click-area" (click)="toggleProfileDropdown()"
        [class.dropdown-open]="isProfileDropdownOpen">
        
        <img [src]="getProfileImageUrl(currentUser()?.profile_picture)"
             alt="Profile Avatar"
             class="profile-avatar-img">
             
        <div class="profile-info">
          <span class="profile-name">{{ currentUser()?.name }}</span>
          <span class="profile-dropdown-arrow">▿</span>
        </div>
      </div>
      
      <div class="notification-click-area">
        <app-notification></app-notification>
      </div>

      @if (isProfileDropdownOpen) {
      <div class="profile-dropdown-menu">
        <div class="dropdown-user-info">
          <img [src]="getProfileImageUrl(currentUser()?.profile_picture)"
               alt="Profile Avatar"
               class="dropdown-avatar-img">
          <div class="dropdown-name">{{ currentUser()?.name }}</div>
          <div class="dropdown-email">{{ currentUser()?.email }}</div>
        </div>

        @for (item of profileDropdownItems; track item.label) {
          @if (item.label === 'Add Account') {
            <div class="dropdown-divider"></div>
          }

          @if (item.action === 'navigate') {
            <a [routerLink]="item.route" (click)="handleDropdownAction(item)"
                class="dropdown-item">
              <img [src]="item.iconPath" alt="{{ item.label }} Icon"
                  class="dropdown-item-icon">
              {{ item.label }}
            </a>
          } @else {
            <div (click)="handleDropdownAction(item)" class="dropdown-item">
              <img [src]="item.iconPath" alt="{{ item.label }} Icon"
                  class="dropdown-item-icon">
              {{ item.label }}
            </div>
          }
        }
      </div>
      }
    </div>
  }

  <div class="nav-section main-nav">
    @for (item of mainNav; track item.label) {
      @if (isProtected(item.route)) {
        <a class="nav-item cursor-pointer"
            [class.active]="isRouteActive(item.route)"
            (click)="onProtectedLinkClick(item.route)">
          <img [src]="item.iconPath" 
               alt="{{ item.label }} Icon" 
               class="nav-icon">
          <div class="nav-label">{{ item.label }}</div>
        </a>
      } @else {
        <a [routerLink]="item.route" routerLinkActive="active" class="nav-item">
          <img [src]="item.iconPath" 
               alt="{{ item.label }} Icon" 
               class="nav-icon">
          <div class="nav-label">{{ item.label }}</div>
        </a>
      }
    }
  </div>

  <div class="nav-divider-mock"></div>

  <div class="nav-section tracking-nav">

    <div class="section-header" (click)="toggleTracking()"
        [attr.aria-expanded]="isTrackingOpen">

      <a [routerLink]="profileRoute" class="section-title-link"
          (click)="$event.stopPropagation()">
        Tracking
      </a>

      <div class="toggle-icon">▼</div>
    </div>

    @if (isTrackingOpen) {
      <div class="tracking-list-content">
        @for (item of trackingNav; track item.label) {
          <a [routerLink]="item.route" routerLinkActive="active"
              class="nav-item tracking-item">
            <img src="assets/tracking-item.png" alt="{{ item.label }} Icon"
                class="nav-icon tracking-icon-sm">
            <div class="nav-label">{{ item.label }}</div>
          </a>
        }
      </div>
    }
  </div>

  <div class="help-link">
    <a [routerLink]="['/app/help-page']" routerLinkActive="active">
        Help & Support</a>
  </div>

  @if (isLogoutModalOpen) {
    <app-confirmation-modal
      title="Log Out"
      message="Are you sure you want to log out of your account?"
      confirmLabel="Log Out"
      variant="danger"
      (confirm)="onLogoutConfirm()"
      (cancel)="onLogoutCancel()">
    </app-confirmation-modal>
  }

  @if (showLoginModal) {
    <app-confirmation-modal
      title="Log in Required"
      message="You need to be logged in to access this feature. "
      subMessage="Please log in to your account to continue reporting or 
                  claiming items."
      confirmLabel="Log In"
      variant="primary"
      (confirm)="onLoginModalConfirm()"
      (cancel)="onLoginModalCancel()">
    </app-confirmation-modal>
  }
</div>