$header-height: 65px;
$sidebar-width: 250px;

.main-viewport-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; 
}

app-header {
  height: $header-height;
  display: block; 
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.admin-layout-container {
  display: flex;
  background-color: rgb(248, 245, 248);
  flex-grow: 1;
  height: calc(100vh - $header-height); 
  width: 100%;
  min-height: 0;
}

.sidebar-area {
  width: $sidebar-width;
  flex-shrink: 0; 
  height: 100%;
  overflow: visible;
}

.content-area {
  flex-grow: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}