:host {
  display: block;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.page-content {
  flex-grow: 1;
  width: 100%;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

app-footer {
  flex-shrink: 0;
  margin-top: auto;
}