:host {
  display: block;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.page-content {
  flex-grow: 1;
  overflow-y: auto;
}

app-header,
app-footer {
  flex-shrink: 0;
}