<div class="search-container">
  <input
    class="search-input"
    type="text"
    placeholder="Search"
    [formControl]="searchControl"
    [matAutocomplete]="auto"
    (keyup.enter)="onSearch()"
  />

  <mat-autocomplete #auto="matAutocomplete"
                    (optionSelected)="onOptionSelected()">
    @for (option of suggestions; track option) {
      <mat-option [value]="option">
        {{ option }}
      </mat-option>
    }
  </mat-autocomplete>

  @if (searchControl.value) {
    <button class="clear-button" type="button" (click)="clearSearch()">
      <img src="assets/remove.png" alt="Clear">
    </button>
  }

  <button class="search-button" type="button" (click)="onSearch()">
    <img src="assets/search-icon.png" alt="Search">
  </button>
</div>