<footer class="app-footer">
  <div class="footer-container">

    <div class="footer-section logo-column">
      <img class="logo-box" src="assets/temp_logo.png" alt="Lost & Found Icon">
    </div>

    <div class="footer-section">
      <h3 class="section-title">Site</h3>
      <ul class="link-list">
        @for (link of siteLinks; track link.label) {
        <li class="link-item">
          <a [routerLink]="link.url">{{ link.label }}</a>
        </li>
        }
      </ul>
    </div>

    <div class="footer-section">
      <h3 class="section-title">Help</h3>
      <ul class="link-list">
        @for (link of helpLinks; track link.label) {
        <li class="link-item">
          <a [routerLink]="link.url">{{ link.label }}</a>
        </li>
        }
      </ul>
    </div>

    <div class="footer-section">
      <h3 class="section-title">Links</h3>
      <ul class="link-list">
        @for (link of mainLinks; track link.label) {
        <li class="link-item">
          <a [href]="link.url" target="_blank" rel="noopener noreferrer">
            {{ link.label }}
          </a>
        </li>
        }
      </ul>
    </div>

    <div class="footer-section contact-column">
      <h3 class="section-title">Contact</h3>
      <p class="contact-info">Tel: +63 9654089663</p>
      <p class="contact-info">Email: ditcorefour@gmail.com</p>

    </div>
  </div>
</footer>