<div class="item-card" (click)="onBackdropClick()">
  <div class="card-header">
    <div class="header-left">
      <div class="avatar">
        {{ userName().charAt(0).toUpperCase() }}
      </div>
      <div class="info-text">
        <h4 class="item-name">{{ userName() }}</h4>
        <p class="post-date">{{ report().date_reported | 
            date: 'mediumDate' }}</p>
      </div>
    </div>

    @if (isOwner()) {
      <div class="action-menu-container">
        <button type="button" class="menu-btn" (click)="toggleMenu($event)">
          <img src="assets/menu.png" alt="Options"> 
        </button>
  
        @if (isMenuOpen()) {
          <div class="dropdown-menu">
            <button class="dropdown-item" (click)="onEdit($event)">Edit</button>
            <button class="dropdown-item delete" 
                (click)="onDelete($event)">Delete</button>
          </div>
        }
      </div>
    }
  </div>

  <div class="item-image-area">
    <div class="arrow left-arrow">
      <img src="assets/Arrow-left.png" alt="Previous" class="arrow-icon" />
    </div>

    <img
      src="assets/temp-photo-item.png"
      alt="Item Placeholder Image"
      class="main-item-photo"
    />

    <div class="arrow right-arrow">
      <img src="assets/arrow-right.png" alt="Next" class="arrow-icon" />
    </div>
  </div>

  <div class="card-body">
    <h3 class="item-title">{{ report().item_name }}</h3>
    <p class="item-location">{{ report().location }}</p>
    <p class="item-description">
      {{ report().description }}
    </p>

    <div class="card-footer-actions">      
      <button class="ticket-btn" (click)="onTicketClick()">Ticket</button>
    </div>
  </div>
</div>