.main-viewport-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.user-layout-container {
  display: flex;
  background-color: rgb(248, 245, 248);
  flex-grow: 1;
  height: calc(100vh - 50px);

  .sidebar-area {
    flex-shrink: 0;
    overflow: visible;
  }

  .content-area {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}