<div class="main-viewport-container">
  <app-header
    [showMenuButton]="true"
    (menuToggled)="toggleSidebar()" />

  <div class="user-layout-container">

    @if (isSidebarOpen) {
      <div class="sidebar-backdrop" (click)="closeSidebar()"></div>
    }

    <aside class="sidebar-area" [class.mobile-open]="isSidebarOpen">
      <app-user-side-bar (closeSidebar)="closeSidebar()" />
    </aside>

    <main class="content-area" cdkScrollable>
      <router-outlet />
    </main>
  </div>
</div>