.report-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  color: white;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  font-family: "inter";
  width: 190px;
  height: 70px;
  border-radius: 8px;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1);
  }

  .report-label {
    margin-right: 10px;
  }

  .report-icon-container {
    display: flex;
    align-items: center;

    .button-icon {
      height: 30px;
      width: auto;
    }
  }

  &.lost {
    background: linear-gradient(90deg, rgba(153, 19, 19, 0.72) 0%,
        rgba(255, 31, 31, 0.72) 74.5%);
  }

  &.found {
    background: linear-gradient(135deg, #90EE90 0%, #38B000 100%);
  }
}