.page-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  margin: 0;
  flex-shrink: 0;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}