.homepage-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 36px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  overflow: hidden;

  .main-message {
    flex: 1;
    padding-right: 0;

    h1 {
      font-family: 'Helvetica Neue', Arial, sans-serif;
      font-size: 90px;
      font-weight: 700;
      line-height: 1.1;
      margin-top: -10px;
      margin-bottom: -10px;
      color: #000;
    }

    .tagline {
      font-size: 18px;
      color: #666;
    }
  }

  .action-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    width: 300px;

    app-report-button {
      width: 100%;
      margin-bottom: 5px;
    }

    .image-box-placeholder {
      width: 100%;
      margin-top: 15px;
    }

    .image-box-placeholder .placeholder-image {
      width: 100%;
      height: 250px;
      object-fit: contain;
    }
  }

  @media (max-width: 900px) {
    height: 100vh;
    flex-direction: column;
    text-align: center;
    gap: 0;
    overflow-y: hidden;
    justify-content: center;

    .main-message {
      margin-bottom: 30px;
    }

    .action-buttons-container {
      width: 100%;
      padding: 0 20px;
    }

    app-report-button {
      width: 100%;
    }
  }
}