<form [formGroup]="reportForm" (ngSubmit)="onSubmit()" class="item-report-form">

  <div class="form-field">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Item Name</mat-label>
      <input matInput formControlName="item_name" />
      @if (reportForm.controls.item_name.invalid &&
          reportForm.controls.item_name.touched) {
        <mat-error>Item name is required.</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ locationLabel }}</mat-label>
      <input
          type="text"
          matInput
          formControlName="location"
          [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete">
        @for (location of filteredLocations | async; track location) {
          <mat-option [value]="location">{{ location }}</mat-option>
        }
      </mat-autocomplete>
      @if (reportForm.controls.location.invalid &&
          reportForm.controls.location.touched) {
        <mat-error>Location is required.</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ dateLabel }}</mat-label>
      <input
          matInput
          [matDatepicker]="picker"
          formControlName="date_lost_found"
          placeholder="mm/dd/yyyy"
       />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    
      @if (reportForm.controls.date_lost_found.touched) {
        @if (reportForm.controls.date_lost_found.hasError('required')) {
          <mat-error>Date is required.</mat-error>
        }
        @if (reportForm.controls.date_lost_found.hasError('futureDate')) {
          <mat-error>Future dates are not allowed.</mat-error>
        }
      }
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Item Description</mat-label>
      <textarea
          matInput
          formControlName="description"
          rows="5"></textarea>
      
      <mat-hint align="end">
        {{ descriptionCharCount }} / 500
      </mat-hint>

      @if (reportForm.controls.description.invalid &&
        reportForm.controls.description.touched) {
        <mat-error>Description is required (min 10 characters).</mat-error>
      }

      </mat-form-field>
  </div>

  <div class="form-field photo-upload-field">
    <label>Upload Photo: 
      <small>(Upload if available, max 5 photos)</small></label>

    <input
        #fileInput
        type="file"
        accept="image/png, image/jpeg"
        multiple
        hidden
        (change)="onFileSelected($event)"
    />

    @if (selectedFilesPreview.length === 0
        && reportForm.controls.photoUrls.length === 0) {
      <div class="upload-area" (click)="fileInput.click()">
        <span class="upload-icon">↑</span>
        <p>Click to select photos</p>
      </div>
    }

    <div class="photo-thumbnails">
      @for (photo of selectedFilesPreview; track $index) {
        <div class="photo-box">
          <img [src]="photo.url" [alt]="photo.name" class="photo-thumbnail" />
          <span class="remove-photo" (click)="removeLocalPhoto($index)">
            <img src="assets/remove.png" alt="Remove">
          </span>
        </div>
      }
      @for (photoUrlControl of reportForm.controls.photoUrls.controls;
          track $index) {
        @if (photoUrlControl.value) {
          <div class="photo-box existing-photo">
            <img [src]="photoUrlControl.value" alt="Existing Item Photo"
                class="photo-thumbnail" />
            <span class="remove-photo" (click)="removeExistingPhoto($index)">
              <img src="assets/remove.png" alt="Remove">
            </span>
          </div>
        }
      }

      @if ((selectedFilesPreview.length 
              + reportForm.controls.photoUrls.length) > 0 && 
          (selectedFilesPreview.length
              + reportForm.controls.photoUrls.length) < 5) {
        <div class="photo-box add-photo-box" (click)="fileInput.click()">
          <span class="plus-icon">+</span>
        </div>
      }
    </div>
  </div>

  @if (submissionError) {
    <div class="submission-error-message">
      <mat-icon>error_outline</mat-icon>
      <span>{{ submissionError }}</span>
    </div>
  }

  <div class="form-actions">
    <button 
      type="submit" 
      class="btn btn-submit" 
      [disabled]="isSubmitting || reportForm.invalid"
      [title]="reportForm.invalid
        ? 'Please fill out all required fields correctly' : ''">
      
      <div class="loading-container">
        @if (isSubmitting) {
          <mat-spinner diameter="18" strokeWidth="3"></mat-spinner>
          <span>{{ loadingMessage }}</span>
        } @else {
          <span>Submit Report</span>
        }
      </div>
    </button>

    <button 
      type="button" 
      class="btn btn-reset" 
      [disabled]="isSubmitting"
      (click)="onCancel()">
      Reset
    </button>
  </div>
</form>